* {margin: 0;}

div {
    width: 100px;
    height: 100px;
    margin: 20% auto;

    border: 20px solid red;
    border-top: double green 4px;
    border-bottom: none;

    outline: yellowgreen 4px solid;
}