header {
    height: 400px;
    border: 7px dashed red;
    padding: 16px;

    background-color: rgb(55, 100, 50);
    background-image: url(https://images.unsplash.com/photo-1660892851600-cb3ae1fc9068?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);
    
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-origin: padding-box;
    background-clip: content-box;

}
/* 

MARGIN -> BORDER -> PADDING -> CONTENT

   background-repeat: repeat-x; = repete a imagem eixo x
    background-repeat: repeat-y; = repete a imagem eixo y
    background-repeat: no repeat; = não repete
    background-position: center / top / bottom / right / left
                         define onde a imagem vai e qual parte
                         dela deve aparecer

    background-size = cover = cobrir todo o espaço
    background-size = contain = mostrar a imagem inteira mas
                      proporcional ao espaço

    background-size / é possível definer o tamanho em valores
                      como px e %
    BACKGROUND-ORIGIN =  ONDE A IMG COMEÇA
    background-origin = border box = define onde a imagem
                        se posiciona pela borda
    background-origin = padding box = posição relativa ao padding
                        (espaço entre a borda e o content)
    background-origin = content box = posição relativa ao 
                        conteúdo

    background-clip  =  define o fundo a partit de um parametro
                        EX: CONTENT / PADDING / BORDER     +++++

    background attachment = FIXED/ SCROLL
                            define como o fundo se comporta 
                            ao scrollar um site/ fixed a imagagem
                            permanece ímovel(tipo paralax) /
                            scroll o fundo se mexe de acordo com a 
                            rolagem