* {
    color: green;
}

#id strong {
    color: gold;
}

.title {
    color: red;
}

h1.title#id{
    color: magenta;
}

h1 {
    color: blue;

}

body h1 {
    color: rgb(44, 180, 204);
}