body {
    height: 10vh;
    margin: 0;
}

.box {
    height: calc(100% +10px);
    width: 100%;
    background-image: 
    url(https://images.unsplash.com/photo-1660892851600-cb3ae1fc9068?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-position: top;
}

.box::after {
    content: "AQUI VEM TEXTO";
    color: white;
    
}