.box {
    display: flex;
    flex-direction: column;
    border: 1px dashed red;
}



.box div {
    border: 1px solid;
    width: 25px;
    flex-basis: 50px;
}

.box div:nth-child(1){
    width: 200px;
    height: 400px;
}


.box1 {
    display: flex;
    flex-direction: column;
    border: 1px dashed red;
}



.box1 div {
    border: 1px solid;
    width: 25px;
    flex-basis: auto;
}

.box1 div:nth-child(1){
    width: 200px;
    height: 400px;
}