.page {
    border: 2px solid;
    min-height: 100vh;
    display: flex;

}

aside {
    background-color: gold;
    flex: 1;
}

main {
    background-color: red;
    flex: 2;
    display: flex;
    flex-direction: column;
}

main section:nth-child(1){
    background-color: blue;
    flex: 2;
}

main section:nth-child(2){
    background-color: pink;
    flex: 0 160px;
    
}

main section:nth-child(3){
    background-color: purple;
    flex: 1;
}

/* order = muda a ordem dos elemnetos quando deseja
só muda visualmente e não o código em si