.box {
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    border: 1px dashed red;
    height: 100px;
}
.box div {
    border: 1px solid;
}

.box2 {
    display: flex;
    justify-content: flex-start;
    border: 1px dashed red;
    height: 100px;
}

.box2 div {
    border: 1px solid;
}

.box3 {
    display: flex;
    justify-content: center;
    border: 1px dashed red;
    height: 100px;
}

.box3 div {
    border: 1px solid;
}