.box {

    display: flex;
    flex-direction: column;
    align-items: center; /** flexstar // flex-end // center **/ 

    border: 1px dashed red;
    height: 150px;
}


.box div {
    border: 1px solid;
}